<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | <%= PhilousPlanningPoker::TITLE %></title>
    <meta name="description" content="<%= yield(:description) %>" />
    <meta name="keywords" content="<%= PhilousPlanningPoker::KEYWORDS %>, <%= yield(:keywords) %>" />
    <%= render 'application/favicon' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

      <%= yield %>
    </div>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
