<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | <%= PhilousPlanningPoker::TITLE %></title>
    <meta name="description" content="<%= yield(:description) %>" />
    <meta name="keywords" content="<%= PhilousPlanningPoker::KEYWORDS %>, <%= yield(:keywords) %>" />
    <%= render 'application/favicon' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>" <%= yield :extra_body_attributes %> >
    <div class="container">

      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

      <%= yield %>
    </div>
    <div class="container text-center">
      <hr>
      <div class="row">
        <ul class="nav nav-pills nav-justified">
          <li><a href="http://philippe.bourgau.net/planning-poker">Documentation</a></li>
          <li><a href="http://philippe.bourgau.net">2016 - <%= Time.now.year %> by Philippe Bourgau</a></li>
          <li><a href="https://github.com/philou/planning-poker">Source code</a></li>
          <li><a href="https://www.apache.org/licenses/LICENSE-2.0">Apache 2.0 open source license</a></li>
        </ul>
      </div>
    </div>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
